*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414;
        background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* يخلي الكارت في النص */
}
.parent{
    background-color: #1f1f1f;
    width: 95%;        /* افتراضيًا ياخد 95% من الشاشة */
    height: auto;       
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
}
.parent .pro{
    display: flex;
    justify-content: center;
    margin: 30px 0px 10px 0px ;
}
.parent .pro img{
    border-radius: 100px;
    width: 90px;
}
.parent .name{
    display: flex;
    justify-content: center;
    text-align: center;
}
.parent .name h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 22px;
    color: #ECDFCC;
}
.parent .loc{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}
.parent .loc a{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #e3af9e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parent .para{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 10px;
}
.parent .para p{
    color: #ECDFCC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.parent .links{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.parent .links a{
    text-decoration: none;
    font-size: 16px;
    width: 100%;
}
.parent .links a button{
    color: white;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border-width: 0px;
    background-color: #333333;
    font-size: 15px;
}
.parent .links button:hover{
    background-color: #fdccbb;
    cursor: pointer; 
    color: #000;
    border: 1px solid;
    border-radius: 10px;
    transform: scale(1.05);
}

/* الموبايل */
@media (max-width: 500px) {
  .parent {
    width: 95%;   /* ياخد 95% من الشاشة */
  }
  .parent .name h1 {
    font-size: 20px;
  }
  .parent .para p {
    font-size: 13px;
  }
  .parent .links a button {
    height: 42px;
    font-size: 14px;
  }
}

/* التابلت */
@media (min-width: 501px) and (max-width: 900px) {
  .parent {
    width: 80%;   /* ياخد 80% من الشاشة */
  }
  .parent .links a button {
    height: 44px;
    font-size: 15px;
  }
}

/* اللابتوب والشاشات الكبيرة */
@media (min-width: 901px) {
  .parent {
    width: 100%;
    max-width: 350px; /* ثابت */
    margin: 70px auto;
  }
}

