*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    background-color: #1f1f1f;
    width: 100%;              /* يخلي العرض مرن */
    max-width: 350px;         /* الحد الأقصى */
    height: auto;             /* يخلي الطول يضبط نفسه */
    margin: 70px auto;
    border-radius: 10px;
    padding: 20px;            /* مسافة داخلية */
}
.parent .pro{
    display: flex;
    justify-content: center;
    margin: 30px 0px 10px 0px ;
}
.parent .pro img{
    border-radius: 100px;
    width: 80px;
}
.parent .name{
    display: flex;
    justify-content: center;
}
.parent .name h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-size: 22px;
    color: #ECDFCC;
}
.parent .loc{
    display: flex;
    justify-content: center;
    margin-bottom: 12px;
}
.parent .loc a{
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    color: #e3af9e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.parent .para{
    display: flex;
    justify-content: center;
}
.parent .para p{
    color: #ECDFCC;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}
.parent .links{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parent .links a{
    text-decoration: none;
    font-size: 16px;
    width: 100%;
}
.parent .links a button{
    color: white;
    height: 34px;
    width: 100%;              /* يخلي الزرار يتمدد */
    margin-bottom: 10px;
    border-radius: 10px;
    border-width: 0px;
    background-color: #333333;
}
.parent .links button:hover{
    background-color: #fdccbb;
    cursor: pointer; 
    color: #000;
    border: 1px solid;
    border-radius: 10px;
    transform: scale(1.05);
}

/* الموبايل */
@media (max-width: 500px) {
  .parent {
    max-width: 90%;  /* ياخد 90% من الشاشة */
    margin: 20px auto;
  }
}

/* التابلت */
@media (min-width: 501px) and (max-width: 900px) {
  .parent {
    max-width: 70%;  /* ياخد 70% من الشاشة */
  }
}

/* اللابتوب والشاشات الكبيرة */
@media (min-width: 901px) {
  .parent {
    max-width: 350px; /* الحد الطبيعي */
  }
}
